numpy <1.25,>=1.24
flask
opencv-python==4.8.0.76
ultralytics
git+https://github.com/ultralytics/CLIP.git
dill
waitress
nob
onnx
onnxslim
onnxruntime-gpu
tensorrt_cu12
tensorrt_cu12_libs
tensorrt_cu12_bindings
openvino
pytest
numba